{% extends 'base.html' %}

{% block title %}
{{ movie.title }}
{% endblock %}

{% block additional_style %} 
<link rel="stylesheet" href="{{ url_for('static', filename='single_movie.css') }}">
{% endblock %} 
    
{% block content %}
<h1>test</h1>
<div class="content">
    <div class="wrapper">
        <div id="sidebar"><img id="poster" src="{{ url_for('static', filename='images/' + poster)}} " alt=""></div>
        <div id="title-block"> <h3 id="title">{{ movie.title }} <em>({{ movie.year }})</em></h3></div>
        <div id="details">
            <div id="rating">
                <p>rating: {{ movie.score }}</p>
            </div>
            <div id="genre">
                <p><em>{{ movie.genre }}</em></p>
            </div>
            <div id="director">
                <p>Director: {{ movie.director }}</p>
            </div>
            <div id="actor">
                <p>Actors: {{ movie.actor }}</p>
            </div>

        </div>
        <div id="synopsis">
            <p><strong>Synopsis</strong></p>
            <p>{{ movie.plot }}</p>
        </div>
        <div id="imdb">
            <p>
                <a href="https://www.imdb.com/title/{{ movie.imdb }}">imdb link</a>
            </p>
        </div>

    </div>
</div>








{% endblock %}