{% extends 'base.html' %}

{% block title %}
View all
{% endblock %}

{% block additional_style %} 
<link rel="stylesheet" href="{{ url_for('static', filename='view_all.css') }}">
{% endblock %} 

{% block content %}
<div class="header">
    <h1>Browse {{ topic['All'] }}</h1>
</div>
<div> 
    <h1>
        flexbox goes here
    </h1>
</div>

<div class="card-movie">
    <h3 class="card-title" >Movie Title Here</h3>
    <img class="card-img" src="{{ url_for('static', filename='images/harry_potter.jpg') }}" alt="">
    <h4 class="card-year">(2017)</h4>
</div>

<footer>
    <div class="page-navigation">
        <p>{{ curr_page }} of {{ max_page }}</p>
    </div>
</footer>
{% endblock %}