<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% block additional_style %}{% endblock %}
<nav>
  <h1>Flaskr</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['name'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register_get') }}">Register</a>
      <li><a href="{{ url_for('auth.login_get') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<nav class="navbar-2">
  <h1>Temporary sidebar</h1>
  <ul>
    <li><a href="{{ url_for('movie.indiv_movie', movie_id=1) }}">single</a>
    <li><a href="{{ url_for('movie.browse_all', page=0) }}">all</a>
  </ul>
</nav>
<section class="content">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>